.center {
    // height: 50px;
    // position: relative;
}

.search {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    width: 100%;
    z-index: 300;
    background: #eee;
    padding: .5rem 1rem;
}





.create {
    position: absolute;
   left: 30rem;
   top: 5.6rem;
    transform: translateX(-50%);
    // width: 100%;
    // max-width: 400px3
    z-index: 10;
}

// .search input {
//     padding: 0.3rem;
//     font-size: 1rem;
//     width: 100%;
//     margin: 1.5rem 0;
//     border: 1px solid;
//     border-radius: 0;
// }

 .combo {
padding: 0.3rem;
font-size: 1rem;
width: 100%;
margin: 1.5rem 0;
border: 1px solid;
border-radius: 0;
}

.ul-info {
    list-style-type: none;
    padding: 0;
    margin: 0
}